In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [2]:
df = pd.read_csv('Player_Match.csv')
df.head()

   Match_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
0    335987          1        1          0           1
1    335987          2        1          0           0
2    335987          3        1          0           0
3    335987          4        1          0           0
4    335987          5        1          0           0

In [3]:
d = defaultdict(int)
for i in range(len(df)):
    a = df.iloc[i][1]
    d[a] += 1

In [4]:
df2 = pd.read_csv('Player.csv')
len(df2)

469

In [5]:
result = []
for i in range(len(d)):
    result.append(d[i])

In [6]:
df2.head()
col = ['Batting_Hand', 'Bowling_Skill', 'Is_Umpire', 'Unnamed: 7']
df2 = df2.drop(columns = col)
df2.head()

   Player_Id      Player_Name        DOB      Country
0          1       SC Ganguly   8-Jul-72        India
1          2      BB McCullum  27-Sep-81  New Zealand
2          3       RT Ponting  19-Dec-74    Australia
3          4        DJ Hussey  15-Jul-77    Australia
4          5  Mohammad Hafeez  17-Oct-80     Pakistan

In [7]:
len(result)
df2['Matches'] = result

In [23]:
df2.to_csv('PlayerMod.csv')