In [56]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [57]:
df = pd.read_csv('Player_Match.csv')
df.head()

   Match_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
0    335987          1        1          0           1
1    335987          2        1          0           0
2    335987          3        1          0           0
3    335987          4        1          0           0
4    335987          5        1          0           0

In [58]:
d = defaultdict(int)
for i in range(len(df)):
    a = df.iloc[i][2]
    d[a] += 1
for i in d:
    d[i] = d[i]//11
print(d)

defaultdict(<class 'int'>, {1: 132, 2: 139, 3: 131, 4: 134, 5: 118, 6: 133, 7: 140, 8: 75, 9: 14, 10: 46, 11: 62, 12: 14, 13: 16})

In [59]:
result = []
for i in d:
    result.append(d[i])

In [60]:
df2 = pd.read_csv('Match.csv')
df2.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,20-Apr-08,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,20-Apr-08,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India

In [61]:
col = ['First_Umpire_Id', 'Second_Umpire_Id', 'Host_Country', 'City_Name', 'Is_DuckWorthLewis', 'Toss_Decision', 'Toss_Winner_Id']
df2 = df2.drop(columns = col)

In [62]:
d2 = defaultdict(int)
for i in range(len(df2)):
    b = df2.iloc[i][10]
    if(b > 0 and b <= 13):
        d2[b] += 1
print(d2)

defaultdict(<class 'int'>, {1.0: 68, 3.0: 79, 6.0: 56, 2.0: 70, 5.0: 63, 4.0: 63, 8.0: 29, 7.0: 80, 10.0: 12, 9.0: 6, 11.0: 34, 12.0: 5, 13.0: 9})

In [63]:
wins = [0 for i in range(1,15)]
d2 = {int(k):int(v) for k,v in d2.items()}
for i in d2:
    wins[i] = d2[i]
del(wins[0])
wins

[68, 70, 79, 63, 63, 56, 80, 29, 6, 12, 34, 5, 9]

In [64]:
d3 = defaultdict(int)
for i in range(len(df2)):
    c = df2.iloc[i][10]
    d = df2.iloc[i][9]
    if(c>0 and c <= 13 and d > d3[c]):
        d3[c] = d
print(d3)

defaultdict(<class 'int'>, {1.0: 140.0, 3.0: 97.0, 6.0: 67.0, 2.0: 144.0, 5.0: 105.0, 4.0: 111.0, 8.0: 82.0, 7.0: 98.0, 10.0: 38.0, 9.0: 17.0, 11.0: 85.0, 12.0: 34.0, 13.0: 7.0})

In [65]:
d3 = {int(k):int(v) for k,v in d3.items()}
d3

{1: 140,
 3: 97,
 6: 67,
 2: 144,
 5: 105,
 4: 111,
 8: 82,
 7: 98,
 10: 38,
 9: 17,
 11: 85,
 12: 34,
 13: 7}

In [66]:
highestmargin = [0 for i in range(1,15)]
for i in d3:
    highestmargin[i] = d3[i]
del(highestmargin[0])
#result, wins, highestmargin completed

In [105]:
homeground = ['Eden Gardens' ,'M. Chinnaswamy', 'M.A. Chidambram Chepauk', 'PCA Mohali', 'Sawai Mansingh Stadium', 'Feroz Shah Kotla', 'Wankhede', 'Rajiv Gandhi Stadium', 'Kochi Stadium', 'MCA Gahunje', 'Rajiv Gandhi Stadium', 'MCA Gahunje', 'Sardar Patel Stadium']

In [107]:
highscores = ['245/6', '263/5', '246/5', '232/2', '223/5', '231/4', '223/6', '214/5', '184/2', '192/3', '209/3', '195/3', '208/7']
lowscores = ['67', '49', '79', '73', '58', '66', '87', '82', '74', '99', '96', '108', '104']

In [110]:
df3 =pd.read_csv('Team.csv')
df3
df3['Matches'] = result
df3['Wins'] = wins
df3['Highest_Score'] = highscores
df3['Lowest_Score'] = lowscores
df3['Biggest_Win'] = highestmargin
df3['Homeground'] = homeground

In [112]:
df3
df3.to_csv('TeamDetails.csv')